.corpo {
  text-decoration: underline;
  text-transform: capitalize;
}

#title {
  letter-spacing: 1.2rem;
  font-size: 50px;
  font-family: 'Mansalva', cursive;
  background-color: rgba(255, 192, 203, 0.349);
  padding: 20px 0;
  width: 80vw;
  max-height: 30px;

  display: inline;
}



h2 {
  display: inline;
}

.item {
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  transition: 0.5s ease-in-out;
}

li:hover {
  background-color: blue;
}

.lista {
  font-weight: bold;
}

.stephany {
  position: absolute;
  top: 0;
  z-index: -20;

}

@media only screen and (max-width: 888px) {
  .item {
    background-color: red;
    display: none;
  }
}