<head>
  <meta charset="UTF-8">
  <title>John</title>
</head>
<body>
  <h1>Olá mundo!</h1>
  <h2>Animaizinhos</h2>
  <span>oi</span>
  <br>
  <ol type='a'>
    <li>Peixe Beta</li>
    <li>Lobo</li>
    <li>Leão</li>
  </ol>
</body>
</html>